h1{
    font-family:  'Georgia', 'Times', 'Source Serif 4', serif;
    color: blue;
    font-weight: normal;
    letter-spacing: 6px;
}
p{
    font-family: sans-serif;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 24px;
    word-spacing: 6px;
}
.fr{
    border: thin silver solid;
    float: right;
    padding: 10px;
}
.fr figcaption{
    font-family: sans-serif;
    color: #222;
}